
//background colours
$bg-body: #e0f446;

$bg-header: black;
$bg-secondary: #f7d9a2;  //grid items main background

//text colours 
$col-header: white;
$bdr-header: $col-header;
$col-nav-href: #ffffff;
$col-nav-href-hov: gold;

$hd1-col: white;
$hd2-col: #464444;

//fonts 
$font: 'Dosis', sans-serif;

//breakpoints 
$md: 760px;


//layouts 

$width-lg: 75%;
$width-md: 90%;
